.flex {
    display: flex;
}

.body {
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    background-color: #301934;
    margin: 2;
}

.logo {
    font-size: 30rem;
    color: gold;
    gap: 2rem;
}

.header {
    display: flex;
    font-size: 30rem;
    color: gold;
    justify-content: space-between;
    gap: 2rem;

}

.bannerlinks {
    gap: 10rem;

}

.introtext {
    font-size: 20px;
}